.recipe-ingredient{
    width: 100%;
    text-align: center;
    text-transform: capitalize;
   letter-spacing: 1px;
}
.recipe-ingredient ul li{
    list-style: none;
    font-size: 20px;
}
.recipe-ingredient ul{
    padding: 0;
    margin: 0;
}
.recipe-ingredient h2{
    font-size: 30px;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;

}
@media(max-width:375px){
    .recipe-ingredient ul li{
        font-size: 16px;
    }
    .recipe-ingredient h2{
    font-size: 25px;
    margin: 5px;

}
}