/* navigation */
#navbar {
  flex-direction: column;
}
#navbar ul li a {
  font-size: 0.7rem;
  padding: 0px 9px;
}
#navbar ul li a:hover {
  padding: 0px 8px;
}

/* Home */
#home {
  height: 240px;
  padding: 11px 5px;
}
#home::before {
  height: 340px;
}
#home P {
  font-size: 1.1rem;
}

/* Services  */
.services h1 {
  font-size: 1.8rem;
}
.services h2 {
  font-size: 1.5rem;
}
#services {
  flex-direction: column;
  margin: 15px;
}
#services .box {
  margin: 6px 0px;
}

/* Clients */
#client h1 {
  font-size: 1.8rem;
}
#client-section {
  flex-wrap: wrap;
}
#client-section img {
  width: 90px;
  height: auto;
}
/* contact */
#contact h1 {
  font-size: 1.8rem;
}
#contact-box .formgrp {
  width: 40%;
}

/* Footer  */
/* footer {
} */

/* Utility classes */
textarea {
  height: 58px;
}
.primary {
  font-size: 1.8rem;
}
.btn {
  margin: 10px 10px;
  font-size: 1rem;
  padding: 6px 15px;
}
