.about-container{
   width: 90%;
   margin: auto;
   box-sizing: border-box;
   text-align: center;

}
.about-container h2{
    color: rgb(250, 123, 50);
    font-family: 'Piedra', cursive;
    text-transform: capitalize;
    font-size: 30px;
}
.about-container img{
    max-width: 30%;
    max-height: 30%;
   

}
.about-container p{
    
    color:#333;
    
    font-size: 20px;
}
@media(max-width:375px){

    .about-container img{
        max-width: 100%;
        max-height: 100%;
       
    
    }
}