body{
    margin: 0;
    padding: 0;
    line-height: 1;
    background: linear-gradient(to left,#7808f0,#06df67);
}

.calci{
    width: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    transition: 0.25px;
    text-align: center;
}

#display{
    border: none;
    background: white;
    border-radius: 30px;
    width: 245;
    font-size: 20;
    font-family: sans-serif;
    font-weight: 300;
    height: 60;
    margin: auto;
    border: 2px solid white;
    color: black;
}

.btnDesign{
    width: 55;
    height: 55;
    padding-top: -1;
    border: none;
    background: white;
    font-family: sans-serif;
    font-size: 20;
    border-radius: 30px;
    margin: 1.5;

}

.operatorDesign{
    width: 55;
    height: 55;
    padding-top: -1;
    border: none;
    background: white;
    font-family: sans-serif;
    font-size: 20;
    border-radius: 30px;
    margin: 1.5;
    transition: 0.25px;
    cursor: pointer;
    
}
.operatorDesign:hover{
    background: #00d9ff;
}

#zero{
    width: 116;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-size: 20;
    background: white;
    border-radius: 30px;
    margin: 1.5;
 
    
}

h1{
    color: white;
    margin-top: 300px;
    margin-left: 100px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700px;
    text-decoration: underline;
    font-size: 50;
}
h2{
    color: white;
    margin-top: -1px;
    margin-left: 460px;

    font-family: sans-serif;
    font-weight: 500px;
    
    font-size: 30;
}