#box {
    width: 10vw;
    height: 10vw;
    background-color: #b916f4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#box p {
    font-size: 1.7vw;
    color: white;
}

body {
    background-color: gainsboro;
}