*{margin:0;
    padding: 0;}
    
    #calculator{
        width:50vw;
        border:2px solid black;
        margin: auto;
        position: relative;
        top:20vh;
        display: grid;
        grid-template-rows: repeat(4,70px);
        grid-template-columns:repeat(3,1fr) ;
        grid-auto-rows: 70px;
        background-image: linear-gradient(yellow,blue,orange);
        
    }
    #screen{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        text-align: left;
        font-size: 300%;
    }
    #zero{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #equalto{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .operator{
        text-align: center;
    font-size: 330%;
        border:10px double rgb(17, 8, 25);
    }
    .numbers{
    text-align: center;
    font-size: 330%;
        border:10px double rgb(13, 4, 22);
    }