<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193945436265-80lpmuc204rvqg3v1u6fg6urtnfmct91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193945436265-80lpmuc204rvqg3v1u6fg6urtnfmct91</string>
	<key>API_KEY</key>
	<string>AIzaSyD1pOoSP_dBJLAhCdzfojgHeCUJ5Ed1u28</string>
	<key>GCM_SENDER_ID</key>
	<string>193945436265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>amartyaay.com.newsapp</string>
	<key>PROJECT_ID</key>
	<string>my-newsapp-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>my-newsapp-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193945436265:ios:2c1fd18fe7b296667562f8</string>
</dict>
</plist>