* {
  box-sizing: border-box;
}

body {
  background-color: #010165;
  margin: 0px;
}

header {
  background-color: #0ff;
  text-align: center;
  margin: 0 auto;
  padding: 5px 0px;
}

.title-row {
  margin: 10px 0px;
  text-align: center;
}

.title-row .instructions {
  display: inline;
  color: #0ff;
  font-size: 18px;
  font-family: 'Work Sans';
}

.instructions-row {
  margin: 0 auto;  
  width: 400px;
}

.instructions-number {
  color: #0ff;
  padding-right: 30px;
  font-family: 'Work Sans';
  margin: 0 auto;
}

.instructions-text {
  color: #fff;
  padding: 10px;
  font-family: 'Work Sans';
  font-size: 14px;
}

.door-row {
  text-align: center;  
}

.door-frame {
  cursor: pointer;
  padding: 10px;
}

.start-row {
  margin: auto;
  width : 120px;
  height : 50px;
  font-family: 'Work Sans';
  background-color: #eb6536;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4em;
}

#score-container {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  display: inline;
}

#score-container .curr {
  margin: 0 auto;
  /* padding: 2px 0; */
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: #ff7f50;
  color: #061936f1;
  font-family: 'Work Sans';
}

#score-container .best {
  margin: 0 auto;
  /* padding: 2px 0; */
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: #ff7f50;
  color: #061936f1;
  font-family: 'Work Sans';
}