.home-header {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    height: 500px;
    text-align: center;
    padding: 0;
  
    background:url("./../../images/main\ bacground.jpg");
   background-size: cover;
   border: white solid 1px;
 
    
}
.hearder{
    width: 100%;
  
}
.home-header:hover{
    background: linear-gradient(#333, transparent 98%),
    url("./../../images/main\ bacground.jpg");
   background-size: cover;
   color: lightgray;
   text-shadow: #333 10px 10px 4px;
}
.header-box{
    font-family: 'Satisfy', cursive;
    color: lightgray;
    text-transform: capitalize;
    font-size: 50px;
    width: 300px;
    display: block;
    margin: 70px 30px;
   
    
}
.round-navbar{
    display: flex;
    justify-content: center;
    padding: 90px 0;
    box-sizing: border-box;
}
.round-menu{
    width: 100px;
    margin: 0 70px;
    border-radius: 50%;
   margin-bottom: 10px;
    box-shadow: -10px 10px 10px rgb(41, 41, 39);
    cursor: pointer;
}
.round-menu:hover{
    transform: scale(1.5) rotate(5deg);
}
.website-info{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.website-info h2{
    font-size: 40px;
    font-family: 'Piedra', cursive;
    color: rgb(253, 114, 33);
    letter-spacing: 2px;
    border-bottom:  rgb(253, 114, 33) solid 1px;
}
.website-info p{
    color: #333;
    font-size: 23px;
}

@media(max-width: 375px){
    .home-header {
        width: 100%;
        box-sizing: border-box;
        margin: auto;
        height: 500px;
        text-align: center;
        padding: 0;
       border: white solid 1px;
     
        
    }

    .round-navbar{
        width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   padding: 10px 0;
    }
    .round-menu{
       margin: 0;
       margin-top: 30px;
    }
}