*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #A1FF8B; 
    background: -webkit-linear-gradient(to left, #A1FF8B, #3F93FF); 
    background: linear-gradient(to left, #A1FF8B, #3F93FF);
    width: 100vw;
    height: 100vh;   
    overflow: hidden;
    position: relative;
}

/* start section css */
#start{
    width: 100vw;
    height: 100vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
    position: relative;
    padding:10px;
    text-align: center;
}
#startButton{
    width:160px;
    height: 50px;
    background-color: rgba(195, 243, 245, 0.103);
    box-shadow:inset 5px 5px 7px #fff, inset -5px -5px 7px #fff;
    border-radius: 10px;
    margin:10px;
    border:none;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
}
/* start section css end*/

/* main section css start */
#main{
    width: 100vw;
    height: 100vh;   
    overflow: hidden;
    position: relative;
}
.bubContainer{
    width: 100vw;
    height: 100vh; 
    position: absolute;
    animation: moveUp 10s linear infinite;
    animation-fill-mode: both;
}
.bub{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.055) ;
    box-shadow:inset 0 0 10px #fff;
    position: absolute;
    filter: brightness(500);
    filter: sepia(50);
}
@keyframes moveUp {
    from{
        transform:translateY(100vh);
    }
    to{
        transform:translateY(-100vh);
    }
}

#time{
    width:130px;
    height: 50px;
    background-color: rgba(195, 243, 245, 0.103);
    box-shadow:inset 5px 5px 10px #fff, inset -5px -5px 10px #fff;
    position:absolute;
    top:20px;
    left:20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 900;
}

#score{
    width:120px;
    height: 50px;
    background-color: rgba(195, 243, 245, 0.103);
    box-shadow:inset 5px 5px 10px #fff, inset -5px -5px 10px #fff;
    position:absolute;
    top:20px;
    right:20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 900;
}
/* main section css end */

#end{
    width: 100vw;
    height: 100vh;   
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: #fff;
    margin: 20px;
}
#finalScore{
    font-size: xx-large;
    color:#fff;
}

#retryButton{
    width:160px;
    height: 50px;
    background-color: rgba(195, 243, 245, 0.103);
    box-shadow:inset 5px 5px 7px #fff, inset -5px -5px 7px #fff;
    border-radius: 10px;
    margin:10px;
    border:none;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
}
#music{
    display: none;
}